/*
    CSS file for Animate Flex

    Author: Jamie Gross, Ryan Leigh
    Version: 27 July 2016
*/

/* VARIABLES */
:root {
  --primary-color: #217C7E;
	--secondary-color: #3399FF;
	--tertiary-color: #9A3334;
	--accent-color: #F3EFE0;
}

/* GENERAL STYLES */
* {
	font-family: 'Raleway', sans-serif;
}
html, body {
	margin: 0;
	padding: 0;
}
#wrapper {
  height: 100%;
	width: 100%;
	min-width: 360px;
  position: absolute;
	margin: 0;
  display: flex;
  flex-direction: column;
}
.title {
  height: 30px;
	font-size: 20px;
	text-align: center;
	padding: 20px 0px;
	background-color: var(--primary-color);
	color: #FFFFFF;
}
.menu-container {
  width: 30%;
  display: inline-block;
}
.menu-button {
  background-color: var(--secondary-color);
  padding: 10px;
}
#form {
  height: 155px;
  opacity: 1;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  transition: all linear 0.5s;
}
.menu {
  width: 100%;
  padding: 0;
}
.menu > tbody {
  width: 100%;
}
.menu tr {
  width: 100%;
}
.menu tr > td:nth-child(2) {
  text-align: right;
}
#submit {
		background-color: var(--secondary-color); /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    width: 80px;
    text-align: center;
    height: 40px;
    font-size: 16px;
}
.input-size {
	height: 40px;
	width: 80px;
  margin: 5px 0px;
  font-size: 16px;
	line-height: 40px;		/* For height of <select> */
	background: #ffffff;	/* For height of <select> */
	border: 1px solid var(--secondary-color);
}
/* CONTENT */
.content-container {
  height: calc(100% - 70px);
  display: flex;
}
.content {
  flex: 1;
  padding: 10px;
}

/* MEDIA QUERIES */
/* Less than 610px */
@media only screen and (max-width: 610px) {
  .content-container {
    display: block;
  }
  .menu-container {
    width: 100%;
  }
  #form {
    border-bottom: 2px solid var(--primary-color);
  }
}
/* Greater than 611px */
@media only screen and (min-width: 611px) {
  .content {
    border-left: 2px solid var(--primary-color);
  }
  .menu-container {
    max-width: 360px;
  }
}

/* ngAnimate */
.ng-hide {
  height: 0 !important;
  opacity: 0 !important;
}
